<div class="card mb-5 mb-lg-5">
    <div class="card-body">
      <h5 class="card-title text-muted text-uppercase text-center">{{obj.name}}</h5>
      <h6 class="card-price text-center">${{obj.price}}<span class="period">/month</span></h6>           
      <hr>
      <ul class="fa-ul">
        <li><span class="fa-li"><i class="fas fa-times">{{obj.count}}</i></span></li>
        <li><span class="fa-li"><i class="fas fa-times">{{obj.size}}</i></span></li>
        
        <li  *ngFor="let i of obj.notcrossed">
          <span class="fa-li">
              <i class="fas fa-check">
                {{i}}
              </i></span>    
        </li>
        <li   *ngFor="let i of obj.crossed" class="text-muted">
          <span class="fa-li">
            <i class="fas fa-times">
                {{i}}
            </i></span>

        </li>
      </ul>
      <a href="#" class="btn btn-block btn-primary text-uppercase">Button</a>
    </div>
  </div>